
/* I made the body of my content narrower so it wouldn't fill the whole screen. I've been reading about margin: auto vs. other tools. I've kept margin-left and right to play around with. */

body{
    font-family:'Raleway',Arial, Helvetica, sans-serif;
    max-width: 750px;
    margin: 0px auto;
    padding: 40px;

    background-color: rgb(247, 244, 244);

    /* background: url('https://i.imgur.com/RXRU1pL.jpg');
    background-size: cover;
    background-position: center; */
}

.siteContainer {
    /* background-color:white; */
    /* padding: 0 50px 50px 50px; */
    /* border-color: black;
    border-width: 2px; */
    /* margin: 0 30px 0 30px;  */
}


/* Elements */

h1 {
    font-size: 75px;
    font-weight: 800;
    text-align: center;

}

h2 {
    font-size: 2rem;
    font-weight: 800;
    text-align: left;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

a {
    font: black;
}

p {
    font-weight: 100;
    line-height: 125%;
}

iframe {
    margin: 0px auto;
}


/* CLASSES */

img.center {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profilePic {
    max-width: 300px;
    border-radius: 50%;
}

.intro {
    font-weight: 800;
}


/* Need to figure out how to tweak the slash in the logo
*/
.slashStyle {

}

.bold-text{
    font-weight: 600;
}

/* Lists */

ul li {
    margin-bottom: 8px;
}

ol li{
    max-width: 400px;
    line-height: 1.25em;
    margin-bottom: 12px;
}

td, th {
    border: 2px dotted #999;
    padding: 1rem;
}



@media (max-width:800px) {
    body {
        /* background-color: rgb(198, 190, 190); */
    }
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 25px;
    }
    iframe {
        width: 100%;
    }
}


@media (max-width:500px) {
    body {
        /* background-color: rgb(174, 171, 171); */
        /* color: white; */
    }
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 25px;
    }
    iframe {
        width: 100%;
    }
}